body {
	background-color: #02010a;
	color: white;
	font-family: "Dancing Script";
}
/*CABECERA*/
header{
	max-width:900px;
	background-color: #5b7989;
	margin:auto;
	
	display: -webkit-flex;
    -webkit-flex-direction: row;
	
	display: flex;
	flex-direction: row;
	
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	
	animation-duration: 1s;
	animation-name: slidein;
}
header h1{
	width: 60%;
	color: white;
	text-shadow: 2px 2px #02010a;
	text-align:center;
}
header #menu{
	width: 40%;
	margin: auto;
	text-align:center;
}

header #menu a{
	color:white;
	text-decoration:underline;
}

@keyframes slidein{
	0% {
		margin-top: 150%;
	}
	60% {
		margin-top: -5%;
	}
	100% {
		margin-top: 0%;
	}
}

@media screen and (max-width: 900px){
    header{
		display: -webkit-flex;
		-webkit-flex-direction: column;
		
		display: flex;
		flex-direction: column;
	}
	header h1{
		width: 100%;
	}
	header #menu{
		width: 100%;
	}
}

/*CONTENIDO*/
#contenido{	
	max-width:900px;
	margin:auto;	
}
.contenedorCentral {
	padding-bottom: 10px;
	background-color:#82c3a6;	
	padding-top: 10px;
	
	display: flex;
	flex-direction: row;
}
.contenedorCentral #imagen1{
	display:block;
	margin:auto;
}
.contenedorCentral #imagen1 img{
	height :250px;
	width :500px;
	box-shadow:2px 2px 2px #02010a;
}
.contenedorSecundario {
	width: 100%;
	background-color:#d5c75f;
	padding-top: 15px;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	
	display: flex;
	flex-direction: row;
}
.contenedorSecundario #imagen2{	
	margin:auto;
	text-align:center;
}
.contenedorSecundario #imagen2 img{
	border:solid 2px black;
	box-shadow:2px 2px 2px #02010a;
}
.contenedorSecundario #imagen2 img:hover{
	-ms-transform: rotate(10deg);	
	-webkit-transform: rotate(10deg);	
	transform: rotate(10deg);	
	
	box-shadow:5px 5px 5px #82c3a6;
}
.contenedorSecundario #imagen3{	
	margin:auto;	
	text-align:center;
}
.contenedorSecundario #imagen3 img{
	border:solid 2px black;
	box-shadow:2px 2px 2px #02010a;
}
.contenedorSecundario #imagen3 img:hover{	
	-ms-transform: translate(20px, -5px); 
    -webkit-transform: translate(20px, -5px); 
    transform: translate(20px, -5px);
	
	box-shadow:5px 5px 5px #82c3a6;
}
#galeria {
	margin:auto;
	background-color:#d5c75f;
	padding-top: 10px;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
#galeria img{
	padding:10px;
}
#galeria .imagen1{
	filter: blur(10px);
}
#galeria div:nth-child(even){
	filter: grayscale(100%);
}
#galeria .imagen3{
	filter: sepia(90%);
}

@media screen and (max-width: 900px){
	#contenido{	
		width:100%;
	}	
	.contenedorCentral #imagen1 img{
		height :194px;
		width :259px;
	}
	.contenedorSecundario {
		display: -webkit-flex;
		-webkit-flex-direction: column;
		
		display: flex;
		flex-direction: column;
	}
	#galeria {		
		display: -webkit-flex;
		-webkit-flex-direction: column;
		
		display: flex;
		flex-direction: column;
	}
}

/*PIE*/
footer{
	max-width:900px;	
	background-color: #C6d5c5;
	margin:auto;
	color:black;
	
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	
	display: flex;
	flex-direction: row;
}
footer div{
	width: 100%;
	padding: 5px;	
}

@media screen and (max-width: 900px){
	footer{
		display: -webkit-flex;
		-webkit-flex-direction: column;
		
		display: flex;
		flex-direction: column;
	}
}
